*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top 0 left 0, bottom 0 right 0;
  position: relative;
}
@media (max-width: 53.125em) {
  body {
    height: auto;
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 0, bottom 0 left 0;
    align-items: flex-start;
  }
}

.social-proof-container {
  margin: 1.8rem 4.5rem 0;
  width: 111rem;
  min-height: 58.2rem;
  font-family: "League Spartan", sans-serif;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  justify-items: center;
  align-items: center;
}
@media (max-width: 53.125em) {
  .social-proof-container {
    grid-template-columns: 1;
    grid-template-rows: 3;
    max-width: 60rem;
    margin: 8.3rem 6.4% 9.869rem;
  }
}

.social-proof-header {
  place-self: start;
  grid-column: span 1;
  max-width: 44.5rem;
  min-width: 33.4rem;
}
.social-proof-header__title {
  font-size: 5.575rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
  line-height: 0.86em;
  letter-spacing: -0.035em;
  margin-bottom: 2.6rem;
}
.social-proof-header__description {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--dark-grayish-magenta);
  line-height: 1.32em;
  letter-spacing: -0.0333em;
}
@media (max-width: 53.125em) {
  .social-proof-header {
    min-width: 0.1rem;
    justify-self: center;
    text-align: center;
  }
  .social-proof-header__title {
    font-size: 4rem;
    line-height: 0.8em;
    margin-bottom: 2.2rem;
  }
}

.ratings {
  place-self: start end;
  grid-column: span 1;
  width: 100%;
  margin-top: 2.7rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.ratings__rating {
  width: 44.5rem;
  min-height: 5.6rem;
  padding: 0 3.2rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
  background-color: var(--light-grayish-magenta);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
}
.ratings__rating:nth-child(1) {
  align-self: flex-start;
}
.ratings__rating:nth-child(2) {
  align-self: center;
}
.ratings__rating:nth-child(3) {
  align-self: flex-end;
}
.ratings__stars {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  margin-right: 3.18rem;
}
.ratings__star {
  vertical-align: middle;
}
@media (max-width: 53.125em) {
  .ratings {
    padding-left: 0;
    margin-top: 3.9rem;
    max-width: 52rem;
    justify-self: center;
  }
  .ratings__rating {
    width: 100%;
    padding: 0 4.8rem;
  }
}
@media (max-width: 53.125em) and (max-width: 31.25em) {
  .ratings__rating {
    min-height: 7.8rem;
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
  .ratings > .ratings__rating {
    align-self: center;
  }
  .ratings__stars {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

.quotes {
  place-self: end center;
  grid-column: span 2;
  max-width: 111rem;
  min-height: 26.6rem;
  margin-top: 4.9rem;
  display: flex;
  justify-content: space-between;
  gap: 2.7027027027%;
}
.quotes__quote {
  background-color: var(--very-dark-magenta);
  width: 31.5315315315%;
  min-height: 23.4rem;
  padding: 4rem 3.2rem 3.2rem 3.2rem;
  border-radius: 0.8rem;
}
.quotes__buyer-pic {
  width: 4rem;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 2.3rem;
}
.quotes__buyer {
  display: flex;
  align-items: center;
  margin-bottom: 2.7rem;
}
.quotes__buyer-name {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
}
.quotes__verified-buyer {
  color: var(--soft-pink);
  font-size: 1.7rem;
}
.quotes__text {
  color: white;
  font-size: 1.7rem;
  line-height: 1.295em;
  letter-spacing: -0.009em;
}
.quotes__colton-smith {
  align-self: flex-start;
}
.quotes__irene-roberts {
  align-self: center;
}
.quotes__anne-wallace {
  align-self: flex-end;
}
@media (max-width: 64.8125em) {
  .quotes__irene-roberts, .quotes__anne-wallace {
    align-self: stretch;
  }
}
@media (max-width: 53.125em) {
  .quotes {
    grid-column: span 1;
    flex-direction: column;
    gap: 1.6rem;
  }
  .quotes__colton-smith, .quotes__irene-roberts, .quotes__anne-wallace {
    align-self: flex-start;
  }
  .quotes__quote {
    width: 100%;
    min-height: 1rem;
    padding: 4rem 3.2rem 3.1rem 3.2rem;
  }
}

.attribution {
  position: absolute;
  bottom: 1em;
  font-size: 1.4rem;
  font-family: "League Spartan", sans-serif;
  color: var(--dark-grayish-magenta);
  text-align: center;
  opacity: 0.98;
}
.attribution a {
  transition: 0.12s;
  color: var(--dark-grayish-magenta);
}
.attribution a:hover {
  color: var(--very-dark-magenta);
}
.attribution a:active {
  color: var(--soft-pink);
}/*# sourceMappingURL=style.css.map */