@use '../abstracts' as a;

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;
    position: relative;

    @include a.breakpoint(tablet) {
        height: auto;
        background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat;
        background-position: top 0 right 0, bottom 0 left 0;
        align-items: flex-start;
    }
}

.social-proof-container {
    margin: 1.8rem 4.5rem 0;
    width: 111rem;
    min-height: 58.2rem;
    font-family: 'League Spartan', sans-serif;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    justify-items: center;
    align-items: center;

    @include a.breakpoint(tablet) {
        grid-template-columns: 1;
        grid-template-rows: 3;
        max-width: 60rem;
        margin: 8.3rem 6.4% 9.869rem;
    }
}