@use '../util' as u;

.social-proof-container {
    margin: 1.8rem 4.5rem 0;
    width: 111rem;
    min-height: 58.2rem;
    font-family: 'League Spartan', sans-serif;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    justify-items: center;
    align-items: center;

    @include u.breakpoint(tablet) {
        grid-template-columns: 1;
        grid-template-rows: 3;
        max-width: 60rem;
        margin: 8.3rem 6.4% 9.869rem;
    }
}